$blue-gradient: linear-gradient(45deg, #22abfa, #93cace);
$grey-gradient: linear-gradient(45deg, #666667, #b3b3b2);
$green-gradient: linear-gradient(45deg, #11998e, #1ce669);
$orange-gradient: linear-gradient(45deg, #fc4a1a, #f7b733);
$black-gradient: linear-gradient(45deg, #b3b3b2, #666667);

$gradientBgs: (
  "blue": $blue-gradient,
  "grey": $grey-gradient,
  "green": $green-gradient,
  "orange": $orange-gradient,
  "black": $black-gradient,
);

$box-shadow1: 15px 0 35px rgba(0, 0, 0, 0.1), 0 -15px 35px rgba(0, 0, 0, 0.1),
  0 15px 35px rgba(0, 0, 0, 0.1);

$box-shadow2: -15px 0 35px rgba(0, 0, 0, 0.1), 0 -15px 35px rgba(0, 0, 0, 0.1),
  0 15px 35px rgba(0, 0, 0, 0.1);

$box-shadow3: 0 0 10px 0.5px rgba(0, 0, 0, 0.2);

// Mixins

@mixin flex-centegrey($a: 1, $j: 1) {
  display: flex;
  @if ($a==1) {
    align-items: center;
  }
  @if ($j==1) {
    justify-content: center;
  }
}

// Working as an alias for flex-centegrey
@mixin fc($a: 1, $b: 1) {
  @include flex-centegrey($a, $b);
}
